$btnColor:#1053a6;
$fontColor:#fff;
$loginWidth:250px;
.login-form {
  position: relative;
  width: 100%;
  margin-top: 5%;
  :global(.ant-input-affix-wrapper .ant-input){
    background-color: #0a192e;
    border: 1px solid  #174a79;
    color: $fontColor;
  }
  .login-input {
    color: $fontColor;
    width:$loginWidth;
  }
  .login-form-checkout {
    margin-left: calc(50% - 115px);
    float: left;
    margin-top: -10px;
    color: #dadada;
    :global(.ant-checkbox-inner) {
      background-color: transparent;
    }
  }
  .login-form-button {
    width: $loginWidth;
    background:linear-gradient(to bottom left,#7d58f8, #1eb8cd) ;
    color: $fontColor;
    font-size: 15px;
    border-color: $btnColor;
    border-radius: 16px;
  }
}